.switch {
  position: relative;
  display: inline-block;
  width: 41px;
  height: 15px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: -4px;
  bottom: -4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(255, 255, 255);
  border-radius: 50%;
  background-image: url(images/slider@2x.png);
  background-position: 50%;
  background-repeat: no-repeat;
}

input:checked + .slider {
  background-color: #2196f3;
  background-color: rgb(62, 181, 241);
  box-shadow: inset 1.362px 2.673px 7px 0px rgba(27, 36, 40, 0.56);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
  background-color: rgb(62, 181, 241);
  box-shadow: inset 1.362px 2.673px 7px 0px rgba(27, 36, 40, 0.56);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
